@import "../style/font-face.css";
@import "tailwindcss";

/* @custom-variant dark (&:where(.dark, .dark *)); */
/* @custom-variant dark (&:where(.dark, .dark *)); */

/* @custom-variant dark (&); */

@theme inline {
  --color-dark: #1F1F1F;
  --color-light: #f9fafb;
  --color-primary: #2E5077;
  --color-danger: #FF5652;

  /* --color-dark-brighter: ; */
  /* --color-dark-darker: ; */
}

:root {
  --tw-font-sans:  ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    sans-serif;
}

html,
body {
  font-family: var(--tw-font-sans);
}

.top_arist {
  background-size: cover;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;

  -webkit-animation: slidein 100s;
  animation: slidein 100s;

  -webkit-animation-fill-mode: linear;
  animation-fill-mode: linear;

  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;

  -webkit-animation-direction: linear;
  animation-direction: linear;
}

@-webkit-keyframes slidein {
  from {
    background-position: bottom;
    background-size: 7000px;
  }
  to {
    background-position: -100px 0px;
    background-size: 6750px;
  }
}

@keyframes slidein {
  from {
    background-position: bottom;
    background-size: 7000px;
  }
  to {
    background-position: -100px 0px;
    background-size: 6750px;
  }
}

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */
